body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  /* background: rgb(34, 34, 34); */
}

#sketch {
  display: flex;
  justify-content: center;
}

#sketch canvas {
  border: 8px solid rgb(34, 34, 34);
  border-bottom-color: rgba(100, 100, 100, 0.349);
  border-radius: 5px;
  /* box-shadow: 0 10px 30px black; */

}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  background: linear-gradient(rgba(12, 71, 10, 0.226), rgba(8, 80, 6, 0.185)),linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.733)), url('../assets/img/index_background.jpg');;
  
  background-repeat: no-repeat;
  background-position: 0, 0;
  background-size: 150%;

}

.buttons {
  background: linear-gradient(rgba(68, 67, 65, 0.39), rgba(129, 224, 5, 0.171)), url('../assets/img/Stone_Texture.jpg');
  background-position: top;
  /* background-size: 700px 900px; */
  width: 900px;
  border-radius: 15px;
  box-shadow: 0 5px 10px black;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 5px 0;
}

.buttons button {
  display:none;
  
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;

  font-size: 0.8rem;
  color: black;
  line-height: 25px;
  padding: 3px 15px;
  margin-right: 10px;
  background-color: rgb(221, 188, 0);
  border: none;
  border-radius: 2px;

  box-shadow: 1px 2px 5px black;

  cursor: hand;
  outline: none;
}

#logo {
  width: 80%;
  margin-bottom:25px;
  /* border-radius: 35px; */
  /* box-shadow: 0 35px 75px black; */
  position: relative;
  top: 5px;
}

#menuContainer {
  position: absolute;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#loadingScreen {
  /* position: inherit; */
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loadingScreen h2 {
  font-size: 5rem;
  display:inline-block;
  color: rgb(212, 138, 0);
  animation: loading 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }

}

#menu {
  position: inherit;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuBtn {
  font-family: "Open Sans", sans-serif;

  margin-bottom: 50px;
  width: 250px;
  height: auto;
  padding: 20px;

  border: 2px solid darkgreen;
  border-radius: 25px;
  outline: none;
  cursor: pointer;

  background: yellow;
  font-size: 2.0em;
  font-weight: 700;
}

.menuBtn:hover {
  background: darkgoldenrod;
  color: white;
}

#menu .disabled {
  background: rgb(119, 105, 70);
  color: white;
  cursor: auto;
}

#menu .disabled:hover {
  background: rgb(119, 105, 70);
  color: white;
  cursor: auto;
}

#mmButton {
  display: none;
  position: absolute;
  bottom: 5px;
  margin-bottom: 15px;

  /* align-self: flex-end; */
}

#tutorialText {
  display:none;
  position: absolute;
  top:20px;

  width: 80%;
  height:65%;
  margin: 10px auto;
  padding: 25px 5px 25px 25px;

  overflow:auto;

  border: 2px inset rgb(53, 53, 53);

  background: rgb(255, 220, 18);
  font-size: 1.8em;
  word-wrap: break-word;
  
}

#tutorialText p{
  margin:0;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(63, 63, 63, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(29, 29, 29); 
  
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(255,0,0,0.4); 
}